/*#container{
    width: 75%;
    margin: auto;
    text-align: center;
}*/
a:link {
    text-decoration: none;
    color: #EBBCE7;
}

a:hover{
    color: #B079AF;
    transition: 2s;
}

@font-face {
    font-family: 'Jacquard24';
    src: url('fonts/Jacquard24-Regular.woff') format('woff'),
         url('fonts/Jacquard24-Regular.woff2') format('woff2');
            
}

@media (max-width:600px){
h1{
    font-family: "Jacquard24";
    color:#EBBCE7; 
    text-align:center; 
    font-size: 400%;
    font-weight: 400;
}
}

@media (min-width:601px){
    h1{
        font-family: "Jacquard24";
        color:#EBBCE7;
        text-align:center; 
        font-size: 1000%;
        font-weight: 400;
    }
    }

@font-face{
    font-family: 'Silkscreen';
    src:    url('/fonts/Silkscreen-Regular.woff') format('woff'),
            url('/fonts/Silkscreen-Regular.woff2') format('woff2');
            font-style: normal;
}
@media (max-width:600px){
h2{
    font-family: "Silkscreen";
    color:rgb(188, 214, 235); 
    text-align:center;
    font-size: 60%; 
}
}

@media (min-width:601px){
    h2{
        font-family: "Silkscreen";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 140%;
    }
    }

@font-face{
    font-family: "Micro 5";
    src:    url('/fonts/Micro5-Regular.woff') format('woff'),
            url('/fonts/Micro5-Regular.woff2') format('woff2');
            font-style: normal;
}

h3{
    font-family: "Micro 5";
    color:rgb(188, 214, 235); 
    text-align:center; 
    font-size: 200%;
}

@font-face{
    font-family: 'Courier New';
    src:    url('/fonts/CourierNewPSMT.woff') format('woff'),
            url('/fonts/CourierNewPSMT.woff2') format('woff2');
            font-style: normal;
}

p{
    font-family:'Courier New'; 
    color:rgb(188, 214, 235); 
    text-align:center; 
    font-size: 10pt;
    line-height: 1.25;
    line-height: 1.25;
    word-spacing: -50%;
}

li{
    font-family:'Courier New'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 10pt;
    line-height: 1;
    word-spacing: -50%;
    margin: 2rem;
}

footer{
    font-family:'Courier New'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 10pt;
    line-height: 1.25;
    line-height: 1.25;
    word-spacing: -50%;
}

input{
    width: 25%;
    margin: auto;
    text-align: center;
}

body{
    background-color: #2B2B2B;
}

.backtotop{
position: fixed;
right: 3%;
bottom: 3%;
border-radius: 50%;
width: 40px;
height: 40px;
/*pixels are great for little specific components*/
background-color: rgb(188, 214, 235);
filter: drop-shadow(1px 1px 10px rgb(188, 214, 235));
font-family:'Courier New'; 
font-size: 2rem;
text-align: center;
}

img{
    width: 100%;
    height: auto;
    max-width: 1600px;
}

.gifs {
    height: auto;
    max-width: 20px;
}